@{
    ViewBag.Title = "Home";
}



<div class="jumbotron">
    <div id="jumboText">
        <h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  Fortune Teller</h1>
        <p class="lead">Find out your future from a totally reliable and proven source.</p>
    </div>
    <p><a href="http://www.astrology.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>  
</div>

<div class="row" id="homeRow">
    <div class="col-md-4 homeCol">
        <h2 class="h2Home">@Html.ActionLink("Customers", "Index", "Customers")</h2>
        <p>
            Add more customers so that the mere can be enlightened.
        </p>
        <br />
        <p><a class="btn btn-default homeButtons" href="~/Views/Customers/Create.cshtml">Add Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become a Fortune Teller</h2>
        <p>Do you find yourself compulsively lying all the time?  Maybe you should be a fortune teller and turn your relationship ruining habit into a job!</p>
        <p><a class="btn btn-default homeButtons" href="https://www.amazon.com/Art-Deception-Controlling-Element-Security/dp/076454280X">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Famous Fortune Tellers</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <br />
        <p><a class="btn btn-default homeButtons" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>